# Ignore Gradle project-specific cache directory
.gradle
.project-specific

# Ignore Gradle build output directory
build

CesRegistry/SerRegistry/SerRegistryAPIM/target/
CesRegistry/SerRegistry/SerRegistryOPE/target/
CesTC/SerTPLM/SerTPLMAPIM/target/
CesTC/SerTPLM/SerTPLMOPE/target/

# Ignore Idea
*.iml

# Ignore Eclipse
.classpath
.project